.page.theme_light {
  --paragraph-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --subtitle-color: var(--paragraph-color);
    --main-title-color: var(--paragraph-color);
    --rec: none;
    --corners-color: var(--paragraph-color);
    --buttons-color: var(--paragraph-color);
    --hover-button-color: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --paragraph-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --subtitle-color: var(--paragraph-color);
    --main-title-color: var(--paragraph-color);
    --rec: none;
    --corners-color: var(--paragraph-color);
    --buttons-color: var(--paragraph-color);
    --hover-button-color: 1px solid rgba(50, 49, 45, 0.4);
  }
}
